body
{
    font-family:'Courier New', Courier, monospace;
    background-color: #111;
}
header {
    height: 160px;
    background: #ffffff url("images/notebook.jpg") center center/cover no-repeat;    background-repeat: no-repeat;
    background-color:#111;
    width:100%; 
}
h1 {
    
    
    height: 130px;
    margin: 0px;
    padding-top: 10px;
    text-align: right;
    text-shadow:#111 2px;
    padding-right: 10px;
    color: white;
}
.navbar
{
   width: 100%;
}



  .current
  {
    color:#84549c;
  }
  main
  {
    padding-top:10px;
    margin-top:40px;
    
  }
  .title
  {
    text-align:center;
  }
  article
  {
    margin-top:20px;
    background-image: url("images/paper.jpg");
    padding:15px;
    float: center;
    width:90%;
    
    margin-left:auto;
    margin-right:auto;
    border: 2px;
  }
  .me >section
  {
    min-height: 300px;;
  }
  .me > img
  {
    width: 300px;
    float: left;
    padding-right: 10px;
  }

  .me > h1
  {
    text-align: center;
    color: black;
    margin: 0px;
    padding: 0px;
    height: auto;
  }
  
  .me > section > h2
  {
    text-align: right;
  }
  
section.story {
    width:100%;
}
section.story article {
    width:68%;
    padding:10px;
    margin:0px;
    float:left;
}
aside {
    width:28%;
    padding:10px;
    float:right;
    background-color:#84549c;
}
.sample
{
    margin: 0; 
    padding: 15px;
    background: lavender;
    margin-left:auto;
    margin-right:auto;
    width:75%;
    float:center;
    border-radius: 5px;
  
}

.clearfloats
{
    clear:both;
}
figure img
{
    height: 220px;
    width:290px;
    overflow: hidden;
}
figure {
    float: left;
    width: 290px;
    height: 220px;
    padding: 5px;
    margin: 20px;
    border: 1px solid #eeeeee;}
figcaption {
    font-size: 90%;
    text-align: left;
  }

ol {
      display: block;
      list-style-type: decimal;
      margin-top: 1em;
      margin-bottom: 1em;
      margin-left: 0;
      margin-right: 0;
      padding-left: 40px;
      
    }
ol li
{
  width:100%;
}
ol li a
{
  
  float:none;
  text-align:left;
  color:black;
  
}
ol li a:hover
{
  background-image: url("images/paper.jpg");
  color:black;
  text-decoration: underline;
}


footer
  {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#333;
    color: white;
    text-align: center;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: #84549c;
    color:white;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .top{
    display: block;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 15px;
  }
  video
  {
    float:center;
    margin:auto;
  }