body
{
    font-family:'Courier New', Courier, monospace;
    background-color: #111;
}
header {
    height: 160px;
    background: #ffffff url("notebook.jpg") center center/cover no-repeat;    background-repeat: no-repeat;
    background-color:#111;
    width:100%; 
}
h1 {
    
    
    height: 130px;
    margin: 0px;
    padding-top: 10px;
    text-align: right;
    text-shadow:#111 2px;
    padding-right: 10px;
    color: white;
}
.navbar
{
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .current
  {
    color:lavendar;
  }
  main
  {
    padding-top:180px;
    margin-top:50px;
  }
  article
  {
    background-image: url("paper.jpg");
    padding: 15px;
    width: 66%;
    float:left;
  }
  .title
  {
    text-align:center;
  }
  aside
  {
    float:right;
    width:29%;
    background-color:lavendar;
    padding: 10px;
    min-height: 500px;
  }
  
  figure img
{
    height: 220px;
    width:290px;
    overflow: hidden;
}
figure {
    float: left;
    width: 290px;
    height: 220px;
    padding: 5px;
    margin: 20px;
    border: 1px solid #eeeeee;}
figcaption {
    font-size: 90%;
    text-align: left;}

  footer
  {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#333;
    color: white;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: lavendar;
    color:white;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .top{
    display: block;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 15px;
  }